body {
    padding-left: 11em;
    padding-right: 30em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5;
    background-color: #9be9ff }
main {
  background-color: #ffffff;
  width: 1000px;
  margin: 50px auto;
  border: 0px solid; 
  border-color: #ffffff; } 
content {
  padding: 6em 1em;
  border: none;
  margin: 70px;}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #037595; 
    margin-bottom: 5px;
    margin-left: 15px; }
h2 {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #000000; 
    margin-bottom: 5px;
    margin-left: 20px; }
h3 {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-right: 350px;
    margin-left: 20px; }
h5 {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #037595; 
    margin-bottom: 5px;
    margin-left: 20px; }
p {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 400px;
    margin-left: 20px;
    border: 0px solid; 
    border-color: #ffffff; }
a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #037595 }
a:visited {
    color:#037595 }


.bildet {
  padding-left: 2%;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
}